.brands {
	height: 90px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 35px 0;
	position: relative;
}

.brands-item {
	float: left;
	width: 10%;

	a {
		width: 100%;

		img {
			display: block;
			margin: 0 auto;
		}
	}
}

.brands-title {
	font-family: "Spectral Light";
	font-size: 28px;
	line-height: 1.29em;
	position: absolute;
	top: 0;
	left: 50%;
	width: 135px;
	height: 36px;
	background: #fff;
	text-align: center;
	margin-left: -67.5px;
	margin-top: -18px;
}


.btn-arrow {
	display: block;
	// height: 15px;
	height: 90px;
	width: 20px;
	text-align: center;
	line-height: 90px;
	position: absolute;
	cursor: pointer;
	top: -35px;

	&:hover {
		background: #ddd;
	}
}

.btn-left {
	left: -25px;
}

.btn-right {
	right: -25px;
}

@media (max-width: 960px) {
	.brands {
		height: auto;
		// overflow: hidden;
		display: none;
		position: relative;
		margin-top: 50px;
		padding-top: 50px;
		ul {
			overflow: hidden;
		}
		.brands-title {
			// position: relative;
			z-index: 5;
		}
	}
}