.category-block {
	margin-top: 60px;
	padding: 40px 0;
	border-top: 1px solid #000;
	position: relative;
	border-bottom: 1px solid #000;

}

.filters-line {
	border-bottom: 1px solid #d1d1d1;

}

.filter-list-drop-btn {
	display: none;
	float: right;
	font-size: 18px;
	margin-right: 20px;
	user-select: none;
}

.category-block-title {
	font-family: "Spectral Light", "serif";
	font-weight: 300;
	font-size: 28px;
	line-height: 1em;
	background: #fff;
	position: absolute;
	top: 0;
	height: 30px;
	width: 230px;
	margin-top: -15px;
	left: 50%;
	margin-left: -115px;
	text-align: center;
}

.filter.fl-r {
	float: right;
	border-left: 0;
	border-right: 1px solid #d1d1d1;
	.item-name {
		margin-left: 0;
	}
}


.filter {
	cursor: pointer;
	display: block;
	float: left;
	border-left: 1px solid #d1d1d1;
	padding: 0 10px;
	position: relative;
	&:last-child {
		border-right: 1px solid #d1d1d1;
	}
	&__title {
		font-size: 14px;
		line-height: 1.78em;
		user-select: none;
	}

	.drop-block-open {
		display: block;
	}
	&__drop-block.pos-right {
		right: 0;
		left: auto;
	}
	&__drop-block {
		display: none;
		background: #fff;
		box-shadow: -2px 3px 13px 0px #d1d1d1;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 25px;
		padding-bottom: 15px;
		width: 200px;
		z-index: 66;
		position: absolute;
		left: 0;
	}

	&__drop-block.w300 {
		width: 300px;
	}

	.item-holder {
		display: block;
		position: relative;
		max-height: 210px;

		overflow-y: auto;
		overflow-x: hidden;

		&::-webkit-scrollbar {
			// background: #ec494e;
			width: 4px;
			border-radius: 2px;
			height: auto;
		}
		&::-webkit-scrollbar-track {
			background: #dddddd;
		}

		&::-webkit-scrollbar-thumb {
			background: #ec494e;
			border-radius: 2px;
		}
	}

	.price-holder {
		margin-bottom: 20px;
		input[type=text] {
			display: inline-block;
			// width: 90px;
			width: 40%;
			float: left;
			font-size: 14px;
			line-height: 2.14em;
			padding: 0 10px;
		}
		span {
			display: block;
			float: left;
			margin: 0 10px;
		}
	}

	.range-holder {
		margin: 10px 0;
	}

	&__filter-item {
		font-size: 14px;
		line-height: 2.14em;
	}
	

	.check {
		display: inline-block;
		top: 3px;
		position: relative;
		width: 15px;
		height: 15px;
		background: #fff;
	}

	.color-indicator {
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		border: 1px solid #e9e9e9;
		position: relative;
		top: 2px;
		margin: 0 15px;
	}
	.item-name {
		// display: block;
		line-height: 1em;
		margin-left: 10px;
	}
}

.filter__btn {
	font-family: "Montserrat Light", sans-serif;
	font-size: 16px;
	line-height: 2.5em;
	margin-top: 15px;
	background: #ea4d6a;
	color: #fff;
	// padding: 0 25px;
	border-radius: 4px;
	border: 0;
	outline: none;
	width: 100%;
	text-align: center;

	&:hover, &:active, &:focus {
		background: #ee1f45;
	}
}

/***************************
* current-category
/***************************/


.categories-side-bar {
	margin-top: 15px;
}

.used-filters-list {

}

.used-filter {
	display: block;
	position: relative;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	// padding: 0 5px;
	font-size: 14px;
	line-height: 1.78em;
	white-space: nowrap;
	&:hover {
		background: #e9e9e9;
	}
}

.category-list {
}

.category-list-title {
	font-family: "Spectral SemiBold";
	font-size: 20px;
	margin-top: 32px;
	cursor: pointer;
}

.category-list-item {

	.item-name {
		margin-left: 15px;
	}
	.sublist {
		display: none;
		margin-left: 35px;
	}
}

/*********************************************************************
*------------------------ Category-tiles -----------------------------
*********************************************************************/

.category-product-list {
	margin-top: 80px;
}
.category-product-item {
	width: 100%;
	height: 100%;
	transition: transform .2s;
	position: relative;
	margin-top: 20px;
	// padding: 10px;
	
	text-align: center;
	// .r;

	.like-btn {
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		margin: 10px;
		right: 0;
		top: 0;
		z-index: 10;
		font-size: 20px;
		line-height: 0;
		opacity: 0;
		transition: opacity .3s;
		cursor: pointer;

		&:hover {
			color: #ea4d6a;
		}
	}

	&__img {
		position: relative;
		img {
			width: 100%;
			height: auto;
		}
		
	}

	&__brand {
		text-transform: uppercase;
	}

	&__desc {
		text-overflow: ellipsis;
		line-height: 1em;
	}

	&__price {
		font-family: "Montserrat SemiBold", sans-serif;
	}

	&:hover {
		z-index: 50;
		//box-shadow: -2px 3px 13px 0px #d1d1d1;
		// position: absolute; //??
		// top: 0;
		// left: 0;
		// height: 100px;
	}

	&:hover .like-btn {
		opacity: 1;
	}

	&:hover &__btn {
		// display: block;
	}

	&:hover .shadow-wrapper {
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
		box-shadow: -2px 3px 13px 0px #5b5b5b;
		// padding: 10px;
		// margin-top: -20px;
		//position: absolute; //?
	}

	&__btn {
		.filter__btn;
		display: block;
	}

}



.shadow-wrapper {
	position: relative;
	padding: 10px;
	background: #fff;
	transition: transform .2s;
	
	// opacity: .7;
}


/*********************************************************************
*------------------------ // Category-tiles -----------------------------
*********************************************************************/



.category-block_bottom-line {
	margin-top: 30px;
	.back-btn {
		float: left;
		margin-right: 20px;
		padding-right: 20px;
		border-right: 1px solid #000;
	}

	.breadcrumbs {
		li {
			float: left;
			margin-right: 5px;

			i.fa {
				font-size: 10px;
			}
		}
	}

	.top-btn {
		float: right;
	}
}




@media (max-width: 992px) {

	.filter-list-drop-btn {
		display: block !important;
		cursor: pointer;
		float: none !important;
		text-align: center;

	}

	.filter-list-open {
		display: block !important;
	}

	.filter-list {
		display: none;
		position: absolute;
		width: 100%;
		background: #fff;
		z-index: 10;
		border-bottom: 1px solid #ccc;
		box-shadow: 0px 3px 20px 0px #979494;
	}

	.filter {
		width: 100%;
		margin: 10px 0;

		&__title {
			text-align: center;
			border-bottom: 1px solid #ccc;
		}

		&__drop-block {
			margin-top: 10px;
			left: 0;
			margin-left: auto;
			margin-right: auto;
			position: relative !important;
		}
	}
}

@media (max-width: 767px) {
	.category-product-list {
		margin-top: 40px;
	}
}

@media (max-width: 340px) {
	.category-product-item {
		&__btn {
			font-size: 12px;
		}
	}	
}

@media (max-width: 432px) {
	.category-block_bottom-line {
		display: none;
	}
}
