.categories {

}


.category-item {
	overflow: hidden;


	&:hover .bg-block {
		transform: scale(1.1)
	}

	.bg-block {
		height: 270px;
		width: 270px;
		margin: 0 auto;
		-webkit-background-size: cover;
		background-size: cover;
		transition: .3s;
	}

	.title-block {
		text-transform: uppercase;
		text-align: center;

		font-family: "Spectral Regular";
		font-size: 16px;
		margin-top: 20px;
	}
	
}