.contact-block {
	margin-top: 60px;
}

.contact-block-content {
	margin-top: 30px;
}
.contact-block-title {
	overflow: hidden;
	text-align: center;
	font-family: "Spectral Light", sans-serif;
	font-size: 28px;
}
.contact-block-title:before,
.contact-block-title:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 1px;
	background: #000;
	border: solid #000;
	border-width: 0 10px;
}
.contact-block-title:before {
	margin-left: -100%;
}
.contact-block-title:after {
	margin-right: -100%;
}

.left-side-bar {
	
	li {
		cursor: pointer;
		&:hover {
			color: @accent-color;
		}
	}
	&__title {
		margin-left: 15px;
	}
}

.contact-info {
	.contact-info-block {
		margin-bottom: 30px;
	}
	.contact-heading {
		font-size: 16px;
	}

	.contact-subtitle {
		font-family: "Montserrat Light", sans-serif;
		font-size: 18px;
		margin-left: 30px;
	}

	.contact-info {
		font-size: 14px;
		margin-left: 30px;
	}

	.social-links {
		font-size: 18px;
		line-height: 1.39em;

		a {
			display: block;
			border: 1px solid #000;
			text-align: center;
			width: 35px;
			height: 35px;
			float: left;
			margin-right: 15px;
			border-radius: 50%;
			line-height: 35px;
			&:hover {
				border-color: @accent-color;
			}
		}
	}
}



.question-form-title {
	font-size: 16px;
	line-height: 0.95em;
	margin-bottom: 15px;
}

.question-form {
	

	&__input-title {
		font-size: 14px;
		// line-height: 1.2em;
	}

	&__input {
		font-family: "Montserrat Light", sans-serif;
		font-size: 14px;
		line-height: 1.71em;
		padding: 14px;
		width: 100%;

		border: 1px solid #e8e8e8;
		outline: none;
		margin-bottom: 15px;
		

	}

	.warning {
		color: red;
	}

	textarea {
		height: 180px;
	}

	&__btn-submit {
		border: 0;
		background-color: @accent-color;
		color: #fff;
		font-size: 16px;
		line-height: 2.5em;
		padding: 0 40px;
		text-align: center;
		border-radius: 5px;
		outline: none;

		&:hover {
			background-color: #D3304E;
		}
	}
}


@media (max-width: 992px) {
	.contact-block-content {
		margin-top: 15px;
	}

	

	.contact-info {
		text-align: center;
		
		.contact-info-block {
			margin-top: 30px;
		}

		.contact-subtitle {
			margin-left: 0 !important;
		}

		.contact-subtitle {
			margin-left: 0 !important;
		}

		.contact-info {
			margin-left: 0 !important;
		}

		.social-links {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;

			a {
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.question-form {
		margin-top: 50px;
	}
}
