.drop-field {
	display: none;
	// display: block;
	position: absolute;
	width: 280px;
	// height: 300px;
	background: #fff;
	z-index: 1;
	padding: 15px;
	text-align: center;
	box-shadow: 0 4px 22px 0 #d5dbde;
	.close-btn {
		position: absolute;
		top: 15px;
		right: 15px;
		color: #909090;
		cursor: pointer;
	}

	.drop-phone-number {
		font-size: 18px;
		line-height: 1.39em;
	}

	.drop-title--brd-bttm {
		display: block;
		font-size: 16px;
		text-align: center;
		border-bottom: 1px solid #868686;
		padding: 15px;
		margin-bottom: 20px;
	}

	.drop-title--brd-top {
		display: block;
		font-size: 16px;
		text-align: center;
		border-top: 1px solid #868686;
		padding: 15px;
		margin-top: 20px;
		// margin-bottom: 20px;
	}
	.drop-inp {
		display: block;
		margin: 0 auto;
		outline: none;
		border: 0;
		border-bottom: 1px solid #868686;
		padding: 15px;
		margin-bottom: 20px;
		font-size: 16px;
		// text-align: center;

		&::placeholder {
			font-size: 16px;
			// text-align: center;
			// color: @text-color-dark;
		}
	}
	.drop-btn {
		margin-bottom: 20px;
	}

	.drop-text {
		position: relative;
		font-size: 16px;
		line-height: 1.56em;
		margin-left: 45px;
		text-align: left;

		i.fa {
			font-size: 18px;
			position: absolute;
			left: -30px;
			line-height: 1.5em;
		}
	}


	.register-block {
		display: block;
		border-bottom: 1px solid #868686;
		padding-bottom: 15px;
	}

	.no-account {
		font-size: 14px;
		line-height: 1.78em;
	}
	.register {
		font-size: 16px;
		line-height: 1.87em;
		text-decoration: underline;
		color: @text-color-dark;
	}

	.link-block {
		padding-top: 15px;
		font-size: 16px;
		line-height: 1.87em;
		color: @text-color-dark;
		text-align: left;
		li {
			width: 100%;
			a {
				width: 100%;
				display: block;
			}
			i {
				// display: block;
				position: absolute;
				// float: right;
				height: 100%;
				line-height: 2em;
				right: 10px;
			}
		}
	}

}

.drop-show {
	display: block;
}

.drop-btn-submit {
	display: block;
	margin: 20px auto;
	font-family: "Montserrat Light";
	font-size: 16px;
	line-height: 1em;
	background: #ea4d6a;
	border: 0;
	border-radius: 5px;
	padding: 15px;
	color: #fff;
	text-decoration: none;
	width: 100%;
}