.footer {
	border-top: 1px solid #000;
	margin-top: 20px;

	.footer-top-line {
		padding: 25px 0;

		// height: 300px;
	}

	.footer-logo {

		img {
			width: 100%;
		}
	}

	.payment-field {
		li {
			width: 25%;
			float: left;
			height: 40px;
			margin-top: 20px;
			position: relative;

			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
		}
	}
	.payment-title {
		display: block;
		font-family: "Montserrat SemiBold";
		font-size: 14px;
		line-height: 1.78em;
	}
}

.footer-social {

	ul {
		margin-top: 20px;
	}

	li {
		width: 25%;
		float: left;
		font-size: 15px;
		position: relative;
		
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		// border: 1px solid #000;
		// border-radius: 50%;
		margin-right: 15px;

		&:last-child {
			margin-right: 0;	
		}



		a {
			display: block;
			border: 1px solid #000;
			border-radius: 50%;
			width: 100%;
			height: 100%;

			&:hover {
				border-color: @accent-color;
			}
		}
	}
}
.footer-social-title {
	display: block;
	font-family: "Montserrat SemiBold";
	font-size: 14px;
	line-height: 1.78em;
}


.footer-categories-line {
	border-top: 1px solid #dddddd;
	padding-top: 20px;
	padding-bottom: 20px;
}

.border-bottom {
	border-bottom: 1px solid #dddddd;
}


.footer-bottom-line {
	margin-top: 20px;
	.phone-number {
		display: block;
		text-align: center;
		font-family: "Montserrat SemiBold";
		font-size: 16px;
		line-height: 1.5em;
	}
	.timing {
		display: block;
		text-align: center;
	}
	.copyright {
		display: block;
		text-align: center;
		color: #969696;
	}
}


@media (max-width: 992px) {
	.footer-logo {
		width: 50%;
		margin: 0 auto 30px;
	}

	.footer-texting {
		text-align: center;
	}

	.payment-field, .footer-social {
		text-align: center;
		margin-top: 30px;
		ul {
			display: flex;
			justify-content: center;
			li {
				justify-content: center;
			}
		}
	}
	
}