.glossary {
	margin-top: 50px;
	position: relative;
	border-top: 1px solid #000;
	padding-top: 40px;
}
.glossary-title {
	width: 570px;

	font-family: "Spectral Light";
	font-size: 28px;
	line-height: 1.29em;
	position: absolute;
	top: 0;
	left: 50%;
	height: 36px;
	background: #fff;
	text-align: center;
	margin-left: -285px;
	margin-top: -18px;
}

.glossary li {
	display: inline-block;
	width: 3.33%;
	float: left;

	font-family: "Spectral Light";
	font-weight: 300;
	font-size: 28px;

	text-align: center;
}


@media (max-width: 990px) {
	.glossary {
		width: 100%;
		.glossary-title {
			position: relative;
			font-size: 18px;
			width: 100%;
			text-align: center;
			left: 0;
			margin: 0;
		}
	}

	.glossary li {
		font-size: 12px !important;
		width: 6.6% !important;
	}


}