.header {
	padding: 20px 0;
	position: relative;
	border-bottom: 1px solid #bababa;
}
.logo {
	display: block;

	img {
		width: 100%;
	}

}

.search-field {
	display: block;
	margin-top: 25px;
	
}



.input-search {
	position: relative;
	input {
		margin-left: 20px;
		width: 100%;
		height: 38px;
		border: 0;
		outline: none;
		border-bottom: 1px solid #292929;
		padding: 20px;
		padding-right: 38px;

		&::placeholder {
			color: @text-color-dark;
		}
	}

	.fa {
		position: absolute;
		top: 0;
		right: 18px;
		margin-top: 18px;

	}
}

.header-link {
	.icon-holder {
		width: 30px;
		height: 30px;
		background-repeat: no-repeat;
		background-position: center center;
		-webkit-background-size: cover;
		background-size: cover;
		margin: 0 auto;
		position: relative;
		a {
			display: block;
		}
		

		.counter {
			position: absolute;
			right: -5px;
			top: -5px;
			background: @accent-color;
			// width: 16px;
			padding: 0 5px;
			height: 16px;
			border-radius: 16px;
			text-align: center;
			color: #fff;
			line-height: 16px;
		}
	}

	.link-name {
		display: inline-block;
		width: 100%;
		text-align: center;
	}



	.phone {
		background-image: url(../img/phone-call.svg);
	}
	.heart {
		background-image: url(../img/heart.svg);
	}
	.basket {
		background-image: url(../img/basket.svg);
	}
}



@media (max-width: 992px) {
	.header {
		.logo {
			// position: absolute;
			top: 0;
			margin: 0 auto;
			img {
				display: block;
				margin: 0 auto;
				width: 50%;
			}
		}

		.input-search {
			width: 90%;
			display: block;
			margin: 0 auto;
			margin-top: 10px;
			margin-bottom: 10px;
			input {
				margin-left: 0 !important;
			}
			i {
				display: none;
			}
		}

	}
}
@media (max-width: 960px) {
	.header {
		.logo {

			img {
				display: block;
				margin: 0 auto;
				width: 50%;
			}
		}



		.header-link {
			margin-top: 20px;
			// position: absolute;
		}
	}
}