.hot-news {
	position: relative;
	margin-top: 20px;
}

.screen-holder {
	position: relative;
	height: 500px;
	background-image: url(../img/hot-news.jpg);
	background-repeat: no-repeat;
	background-position: center right;
	-webkit-background-size: cover;
	background-size: cover;
	
}

.left-bar {
	height: 100%;
	width: 270px;
	background: #d9e7eb;
	opacity: .85;
	padding: 25px;
	float: left;
}

.hot-items {
	height: 100%;
	margin-bottom: 25px;
	position: relative;
	border-bottom: 1px solid transparent;

	a {
		font-size: 16px;
		line-height: 2.25em;

		&:hover {
			color: #000;
			text-decoration: none;
			font-weight: bold;
		}
	}

	&:hover {
		border-bottom: 1px solid #8a8e8e;
	}

	&:hover .arrow {
		right: -15px;

	}

	.arrow {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -5px;
		display: block;
		transition: right .3s;
	}
}

.right-side {
	float: left;
	display: block;
	width: 700px;
	height: 100%;
	position: relative;
	margin-left: 30px;
	padding: 50px;
} 

.hot-news-title {
	font-family: "Spectral Light";
	color: #fff;
	font-size: 50px;
	line-height: 1.4em;
}


.hot-news-btn-holder {
	width: 250px;
	height: 50px;
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 3px;
	position: absolute;
	bottom: 50px;

	&:hover {
		border-color: @accent-color;
	}
}

.hot-news-btn {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	border-radius: 3px;
	text-align: center;
	font-family: "Montserrat Light";
	font-weight: lighter;
	font-size: 16px;
	line-height: 2.5em;
	color: #fff;
	&:hover {
		border-color: @accent-color;
		// color: #fff;
		text-decoration: none;
	}

}



@media (max-width: 1200px) {
	.hot-news {

		.screen-holder {
			height: auto;
		}


		.left-bar {
			width: 50%;
		}

		.right-side {
			width: 50%;
			margin-left: 0;
			height: 100%;
			padding: 10px;
			position: static;


			.hot-news-title {
				font-size: 20px;
			}
			.hot-news-btn-holder {
				// width: 100%;
				.hot-news-btn {
					
				}
			}
		}
	}
}



@media (max-width: 960px) {
	.hot-news {

		.right-side {
			.hot-news-btn-holder {
				width: 40%;
			}
		}
		
	}

}