.info-block {
	padding-top: 30px;
	margin-bottom: 60px;
	padding-bottom: 20px;

}

.info-block_header {
	border-left: 1px solid #d1d1d1;
	width: 100%;
	// line-height: 1.78em;
	border-bottom: 1px solid #d1d1d1;
}

.desc-btn, .reviews-btn {
	padding: 5px 15px;
	border-bottom: 3px solid transparent;
	float: left;
	cursor: pointer;
	border-right: 1px solid #d1d1d1;
	display: block;

	&.active {
		border-bottom: 3px solid @accent-color;
	}
}

.desc-btn {

}

.reviews-btn {
	display: inline-block;
}



.rating-amount {
	font-size: 16px;
	line-height: 1.86em;
	margin: 25px 0;

	&__title {
		font-family: "Montserrat Medium"
	}

	&__amount {
		font-family: "Montserrat Light"
	}
}




.info-wrapper {
	position: relative;
	width: 100%;
	height: 400px;

}

.description-block, .reviews-block {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	z-index: -99;
}

.description-block {
	&.active {
		z-index: 20;
		display: block;
	}

	table {
		font-size: 16px;
		line-height: 1.86em;
		.t-bold {
			font-family: "Montserrat Medium", sans-serif;
			width: 300px;

			.text-light {
				font-family: "Montserrat Light", sans-serif;
				font-size: 12px;
				line-height: 2.5em;
			}
		}
		.t-medium {
			font-family: "Montserrat Light", sans-serif;
		}
	}
}

.reviews-block {
	&.active {
		z-index: 20;
		display: block;
		.review-comment__heading {
			display: block;
		}
	}
}

.reviews-wrapper {
	height: 100%;
	overflow-y: auto;
	&::-webkit-scrollbar {
		// background: #ec494e;
		width: 4px;
		border-radius: 2px;
		height: auto;
	}
	&::-webkit-scrollbar-track {
		background: #dddddd;
	}

	&::-webkit-scrollbar-thumb {
		background: #ec494e;
		border-radius: 2px;
	}
}

.o-review {
	margin-bottom: 30px;
	padding: 20px;
	border: 1px solid #e8e8e8;
	&__heading {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		-ms-align-items: baseline;
		align-items: baseline;
	}

	&__date, &__city {
		font-family: "Montserrat Light", sans-serif;
		font-size: 14px;
		line-height: 2.14em;
	}

	&__title {
		text-align: center;
	}

	&__name {
		font-family: "Spectral Regular", sans-serif;
		font-size: 18px;
		line-height: 1.66em;
	}

	&__comment {
		font-family: "Spectral LightItalic", sans-serif;
		font-size: 18px;
		line-height: 1.39em;
		text-align: center;
		margin-top: 5px;

	}
}

.review-comment {
	font-family: "Montserrat Light", sans-serif;
	font-size: 14px;
	position: relative;
	&__heading {
		display: none;
		position: absolute;
		bottom: 100%;
		text-align: center;
		font-size: 16px;
		line-height: 1.56em;
		border-bottom: 1px solid #000;
		margin-left: 50%;
		transform: translateX(-50%);
		padding: 0 75px;
		padding-bottom: 10px;
		white-space: nowrap;

	}
	&__gratitude {
		font-family: "Montserrat Light", sans-serif;
		font-size: 14px;
		text-align: center;
		padding-top: 15px;
		line-height: 1.2em;
	}
	&__quality {
		margin-top: 20px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-start;
		span {
			margin-right: 10px;
		}
	}

	&__your-comment {
		margin-bottom: 10px;
		margin-top: 20px;
	}
	form {

	}

	textarea {
		width: 100%;
		outline: none;
		padding: 10px;
		min-height: 185px;
		resize: none;
		overflow-y: auto;
		border: 1px solid #e8e8e8;
		&::placeholder {
			color: #969696;
		}
	}

	.btn-submit {
		outline: none;
		background: #ea4d6a;
		color: #fff;
		padding: 15px auto;
		width: 100%;
		border: 0;
		border-radius: 10px;
		font-size: 16px;
		line-height: 2.5em;
		&:hover,
		&:focus,
		&:active {
			background: #E33253;
		}
	}
}

@media screen and (max-width: 768px) {

	.info-block {
		margin-bottom: 40px;
	}
	.info-wrapper {
		
	}

	.description-block, .reviews-block {
		position: relative;
	}

	.description-block {
		//height: 400px;
	}

	.reviews-block { 
		height: 400px;
	}


	.review-comment {
		margin-top: 50px;
		margin-bottom: 40px;
		padding-left: 15px;
		padding-right: 15px;
		&__heading {
			display: block;
			text-align: center;
			position: relative;
			left: auto;
			margin-left: 0;
			transform: none;
		}
		.btn-submit {
			width: 50%;
			display: block;
			margin: 0 auto;
		}

	}
}

@media screen and (max-width: 450px) {
	.o-review__heading {
		flex-direction: column;
		align-items: center;
	}
}

