.news-block {
	height: 620px;

	.top-left {
		background-image: url(../img/news-img/top-left.jpg);
		.img-titling {
			width: 50%;
		}
	}

	.down-left {
		background-image: url(../img/news-img/bottom-left.jpg);
	}

	.top-right {
		background-image: url(../img/news-img/top-left.jpg);
		text-align: right;
	}
	.down-right {
		background-image: url(../img/news-img/bottom-right.jpg);
		text-align: right;
	}
	
	
	
	.mrg-t30px	{
		margin-top: 30px;
	}

}

.news-img-holder {
	padding: 40px;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}


.img-titling {
	font-family: "Spectral Light";
	font-size: 35px;
	color: #fff;
	line-height: 1.08em;
}



.btn-holder {
	width: 250px;
	height: 50px;
	// border: 1px solid #fff;
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 3px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 30px;
	margin-bottom: 30px;

	&:hover {
		// border-color: @accent-color;
	}

	.btn {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		border: 2px solid #fff;
		border-radius: 3px;
		text-align: center;
		font-family: "Montserrat Light";
		font-weight: lighter;
		font-size: 16px;
		line-height: 1.5em;
		color: #fff;

		&:hover {
			border-color: @accent-color;
			text-decoration: none;
			color: @accent-color;
		}

	}
}


.arrow-btn {
	.fa {
		color: #fff;
		width: 100%;
		font-size: 20px;

		&:hover {
			color: @accent-color;
		}
	}
}

@media (max-width: 990px) {
	.news-block {
		height: auto !important;
		margin-top: 50px;

		.top-right {
			// margin-top: 30px;
		}

		.h30-per, .h60-per {
			height: 300px;
		}

		.btn-holder {
			width: 30%;
			position: relative;
			a {
				padding-left: 0px;
				padding-right: 0px;

			}
		}

		.news-img-holder {
			padding: 10px;

			.img-titling {
				text-align: center;
				margin-bottom: 20px;
				width: 100% !important;
			}

			.arrow-btn {
				margin-top: 20px;
				i {
					font-size: 40px;
					text-align: center;
				}
				
			}

			.btn-holder {
				margin: 0 auto;
			}
		}
	}
}

@media (max-width: 770px) {
	.news-block {
		.top-right {
			margin-top: 30px;
		}
	}

}