.orderplace-bookmarks {
	border-bottom: 1px solid #d1d1d1;
	
}

.orderplace-bookmark {
	text-align: center;
	line-height: 1.78em;
	position: relative;
	padding: 8px;
	color: #b6b6b6;
	width: 100%;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	
	border-left: 1px solid #d1d1d1;
	&.r-bord {
		border-right: 1px solid #d1d1d1;
	}

	&.active {
		color: #262626;

	}

	&__icon {
		position: absolute;
		left: 10px;
		top: 8px;
		border-radius: 50%;
		border: 1px solid #b6b6b6;
		width: 25px;
		height: 25px;
		line-height: 25px;
	}
	&.active &__icon {
		border: 1px solid #262626;
	}

	&__check {
		position: absolute;
		display: none;
		font-size: 18px;
		right: 0;
		top: 8px;
		color: #00aa54;
	}

	&.checked &__check {
		display: block;
	}
}





.orderplace-form {
	margin-top: 30px;
	&.hidden {
		display: none;
	}

}
.orderplace_personal-info {
	&.hidden {
		display: none;
	}
}

.input-title {
	font-size: 14px;
	line-height: 1.71em;
	margin: 15px 0;
}

.orderplace-form-input {
	width: 100%;
	
}

.orderplace-btn {
	display: block;
	width: 170px;
	margin-top: 20px;
	float: right;
}


.form-titling {
	margin: 15px 0;
}

.orderplace-form-submit {
	padding-right: 65px;
	padding-left: 65px;
	float: right;
	margin-top: 15px;
	margin-bottom: 25px;
}

.orderplace_delivery-vars {
	&.hidden {
		display: none;
	}
}



.delivery-topline, .payment-topline {
	margin-bottom: 10px;
	.delivery-text {
		float: left;
	}
	.delivery-conditions {
		float: right;
		display: inline-block;
		text-decoration: underline;
		position: relative;
		cursor: pointer;

		&:hover .delivery-conditions-drop {
			display: block;
		}
	}

	.delivery-conditions-drop {
		display: none;
		position: absolute;
		width: 263px;
		padding: 18px;
		left: 50%;
		margin-left: -131.5px;
		border: 1px solid #e8e8e8;
		box-shadow: -2px 2px 4px 0px rgba(0, 0, 1, 0.15);
		border-radius: 5px;
		z-index: 30;
		background: #fff;
		
	}
}

.payment-topline {
	margin-top: 15px;
}

.delivery-adress-var {
	width: 255px;

	.adress-pick-wrapper {
		display: block;
		float: left;
		width: 35px;
	}
	.adress-wrapper {
		display: block;
		float: left
	}
	.adress-picker {
		margin-top: 7px;
		margin-right: 20px;
	}
}



.delivery-another-adress {
	color: #a6a6a6;
	text-decoration: underline;
	line-height: 1.2em;
}

.delivery-another-adress-holder {
	margin-left: 35px;
}

.input-inline-holder {
	display: flex;
	justify-content: space-between;

	.inline-input {
		margin-right: 20px;
		flex-grow: 0;
		flex-basis: 90px;
		width: 90px;
		&:last-child {
			margin-right: 0;
		}
		.form-input {
			width: 100%;
		}
	}
}


.delivery-select, .payment-select {
	// margin-top: 10px;
	width: 100%;
	position: relative;
	appearance: none;
	background-image: url(../img/orderplace-icons/drop-chevron.png);
	background-repeat: no-repeat;
	background-position: 95% center;
	& > option {
		border-left: 0;
		border-top: 0;
	}
}



.chosen-product {
	padding: 20px;
	border-top: 1px solid #d1d1d1;
	//border-bottom: 1px solid #d1d1d1; //temp
	display: flex;
	align-items: center;
	&:last-child {
		border-bottom: 1px solid #d1d1d1;
	}



	&__img {
		flex: 2 0 auto;
		padding: 10px;
		width: 170px;
		img {
			width: 100%;
		}
	}
	&__info {
		flex: 3 0 auto;
		.brand {
			font-size: 14px;
		}
		.price {
			font-family: "Montserrat SemiBold", sans-serif;
			font-size: 16px;
		}

	}

	&__del-icon {
		flex: 1 0 auto;
		font-size: 20px;
		color: #929292;
		text-align: center;
		cursor: pointer;
		&:hover {
			color: #000;
		}
	}
}

.orderplace-form-comment {
	width: 100%;
	height: 125px;
}

.orderplace-accept {
	&__title {
		font-size: 20px;
		color: @text-color-dark;
		padding: 20px 0;
	}
	&__text {
		font-size: 16px;
		line-height: 1.3em;
		padding-bottom: 15px;
	}
}

.orderplace_chosen {

}

.orderplace-chosen-title {
	font-family: "Montserrat Medium", sans-serif;
	font-size: 14px;
}
.orderplace_chosen-wrapper {
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	padding: 15px;
}

.orderplace_chosen-item {
	display: flex;
	align-items: stretch;
	margin-top: 15px;
	flex-wrap: wrap;

	&__img {
		// flex: 1 0 33.3%;
		width: 170px;
		flex: 1 0 auto;
		margin-right: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 80%;
		}
	}

	&__info {
		flex: 2 0 auto;
		border-bottom: 1px solid #d1d1d1;
		
		.brand {
			font-size: 14px;
		}
		.price {
			font-family: "Montserrat SemiBold", sans-serif;
			font-size: 16px;
		}
	}
}

.orderplace-accept-total {
	float: right;
	margin-top: 15px;
	.total-row {
		display: flex;
		width: 200px;
	}
	.total-col-name {
		margin-right: 30px;
		flex: 0 0 70px;
		//align-self: flex-end;
		text-align: right;
	}
	.total-col-amount {
		flex: 0 0 100px;
		-ms-align-self: flex-start;
		//align-self: flex-start;
		text-align: left;
	}
}

.orderplace-results {
	width: 370px;
	padding: 20px 0;
}

.result-item {
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 1.1em;

	&__name {
		color: #6d6d6d;
	}
	&__value {

	}
}

.orderplace-result-btn {
	width: 240px;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}







@media (max-width: 992px) {

	.orderplace-bookmark {
		
		position: relative;
		padding-bottom: 10px;
		border-right: 1px solid #d1d1d1;
		border-bottom: 1px solid #d1d1d1;
		&:last-child {
			border-bottom: 0;
		}

		height: 100%;
		&__icon {
		}

		&__title {
			
		}
		&__check {
			right: 15px;
		}
	}
	

	.delivery-topline, .payment-topline {
		

		.delivery-conditions-drop {
			right: 0;
			left: auto;
			
		}
	}
}



@media (max-width: 992px) {
	.orderplace-btn {
		margin-left: auto;
		margin-right: auto;
		float: none;
		margin-bottom: 30px;
	}
}


@media (max-width: 565px) {
	.orderplace-results {
		width: 100%;
		padding: 20px 0;
	}

	.result-item {
		&__name {
			display: block;
		}
		&__value {

		}
	}
	.orderplace-result-btn {
		width: 200px;
	}
}

@media (max-width: 530px) {

	.orderplace-form-submit {
		// padding-right: 65px;
		// padding-left: 65px;
		// float: right;
		// margin-top: 15px;
		// margin-bottom: 25px;
		float: none;
		width: 100%;
		padding-right: 20px;
		padding-left: 20px;
	}
	.chosen-product {
		// .r;
		flex-direction: column;
		
		
		&__img {
			
			img {
				display: block;
				margin: 0 auto;
				width: 50%;
			}
		}
	}
	
}