.paydel-inside {
	
}
.paydel-inside-titling-2 {
	font-family: "Montserrat Medium", sans-serif;
	font-size: 16px;
}

.paytypes {
	padding-left: 30px;
	width: 100%;
	margin-top: 25px;
}

.paytypes-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;

	&__icon {
		width: 150px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 15px;
		img {
			margin-left: 10px;
		}
	}

	&__content {
		height: 100%;
	}

}



.delivery-item {
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;

	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__icon {
		// .b;
		//width: 110px;
		flex: 0 0 110px;
		img {
			margin: 0 auto;
			display: block;
		}
	}
	&__title {
		// .b;
		font-size: 16px;
		line-height: 1.85em;
		margin-left: 15px;
		margin-right: auto;
	}
	&__toggle-icon {
		// .b;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		margin: 15px;
	}


	&__drop-content {
		display: none;
		margin-left: 110px;
		padding: 20px;
		&.open {
			display: block;
		}
	}
}


@media (max-width: 650px) {
	.paytypes-item {
		
		
		flex-direction: column;
		align-items: center;
		&__icon {
			display: flex;
			justify-content: center;
		}

		&__content {
			text-align: center;
		}

	}
}

@media (max-width: 460px) {
	.delivery-item {
		
		&__title {
			line-height: 1.2em;
		}
		&__drop-content {
			margin-left: 0;
			&.open {
				display: block;
			}
		}
	}
}