.popular-goods {
	
	//border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin-bottom: 50px;
	position: relative;
	padding: 30px 0;
	margin-top: 30px;
}

.popular-goods.no-border-bottom {
	border-bottom: 0;
}

.popular-goods-title {
	overflow: hidden;
	text-align: center;
	font-family: "Spectral Light", sans-serif;
	font-size: 28px;
}
.popular-goods-title:before,
.popular-goods-title:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 1px;
	background: #000;
	border: solid #000;
	border-width: 0 10px;
}
.popular-goods-title:before {
	margin-left: -100%;
}
.popular-goods-title:after {
	margin-right: -100%;
}

.item-block {
	text-align: center;
	padding-top: 40px;
	position: relative;

	a {
		text-decoration: none;
	}

	.color-picker {
		position: absolute;
		height: 45px;
		width: 30px;
		right: 0;
		top: 30px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: space-around;
		-ms-align-items: center;
		align-items: center;

		
		
		.color-item {
			border-radius: 50%;
			background: red;
			width: 10px;
			height: 10px;
			cursor: pointer;
		}

		.color1 {
			background-color: #fa917a;
		}
		.color2 {
			background-color: #fff;
			border: 1px solid #edeeed;
		}
		.color3 {
			background-color: #292e64;
		}
	}
}

.item-img {
	width: 100%;
}
.item-title {
	text-transform: uppercase;
}
.item-desc {
	font-size: 12px;
}
.item-price {
	font-family: "Montserrat SemiBold";
	font-size: 16px;
}


@media (max-width: 770px) {
	.popular-goods {
		margin-top: 50px;

		.item-block {
			width: 60%;
			margin: 0 auto;
		}
	}
}

@media (max-width: 376px) {
	.popular-goods-title {
		font-size: 20px;
	}
}

