.product-block {
	margin-top: 30px;
	position: relative;
}
.product-nav {
	width: 100%;
}

.product-nav-item {
	display: inline-block;
}

.nav-item-left {
	float: left;
}

.nav-item-right {
	float: right;
}






.product-block-title {
	overflow: hidden;
	text-align: center;
	font-family: "Spectral Light", sans-serif;
	font-size: 28px;
}

.product-block-title:before,
.product-block-title:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 1px;
	background: #000;
	border: solid #000;
	border-width: 0 10px;
}
.product-block-title:before {
	margin-left: -100%;
}
.product-block-title:after {
	margin-right: -100%;
}


//img-holder

.product-block_img-wrapper {
	width: 100%;
	margin-bottom: 50px;
}

.product-block_item-slider-wrapper {
	overflow: hidden;
}

.product-block_item-img {
	position: relative;
	float: left;
	cursor: pointer;

	.zoom-btn {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		z-index: 30;
		color: #cbcbcb;
		opacity: 0;

		&:hover {
			color: #939393;
		}
	}
	
	img {
		width: 100%;
		height: auto;

		opacity:0.6;
		-moz-opacity:0.6;
		filter: alpha(opacity=60) black;
		-khtml-opacity: 0.8;
		background-color:#000;

		transition: opacity .3s;
	}
	
	&:hover img, img.active {
		opacity: 1;
		background-color: #fff;
		filter: none;
	}

	&:hover .zoom-btn {
		opacity: 1;
	}
}

.product-block_nav-subfooter {

	.back-btn {
		float: left;
		margin-right: 20px;
		padding-right: 20px;
		border-right: 1px solid #000;
		white-space: nowrap;
	}
	.breadcrumbs {


		li {
			display: inline-block;
			float: left;
			margin-right: 20px;
		}
	}
}

.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 50%;
	width: 70vh;
	// height: 400px;
	z-index: 999;
	// background: #ccc;
	background: #fff;
	border: 1px solid #CAC9C9;
	transform: translateX(-50%);
	margin-top: 100px;
	&.open {
		display: block;
	}
	img {
		width: 100%;
		height: auto;
	}

	.popup-close {
		display: block;
		position: absolute;
		width: 30px;
		height: 30px;
		top: -15px;
		right: -15px;
		background: #fff;
		border: 2px solid #828282;
		border-radius: 50%;
		text-align: center;
		line-height: 25px;
		color: #828282;
		font-size: 15px;

		&:hover {
			border: 2px solid #4A4A4A;
			color: #4A4A4A;
		}
	}
}

.product-block-super-wrapper {
	position: relative;
}

.specific-drop {
	.drop-field;
	padding: 30px;
	display: block;
	position: absolute;
	width: 300px;
	// height: 300px;
	top: 0;
	left: 50%;
	margin-left: 50px;
	text-align: left;
	z-index: 555;
	
	// &.show {
	// 	display: block;
	// }

	&__brand {
		font-family: "Spectral Regular", sans-serif;
		font-size: 20px;
	}

	&__price {
		font-family: "Montserrat SemiBold", sans-serif;
		font-size: 16px;
	}

	&__color {
		
	}
	&__color-picker {

		.color-circle {
			text-align: center;
			float: left;
			margin-right: 15px;
			display: block;
			width: 23px;
			height: 23px;
			border-radius: 50%;
			border: 1px solid #dedede;
			cursor: pointer;
			
		}
	}

	&__btn-holder {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-start;
		-ms-align-items: center;
		align-items: center;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	&__btn {
		font-family: "Montserrat Light", sans-serif;
		background-color: @accent-color;
		text-align: center;
		font-size: 16px;
		line-height: 2.5em;
		color: #fff;
		border-radius: 5px;
		padding: 0 30px;
		border: 0;
		&:hover {
			background-color: #DC2F4F;
		}
	}

	&__favorites {
		display: block;
		margin-left: 25px;
		.fa {
			font-size: 25px;
		}
	}

	&__share {

		.social-links {
			
			a {
				display: block;
				float: left;
				width: 35px;
				height: 35px;
				line-height: 35px;
				font-size: 20px;
				text-align: center;
				border: 1px solid black;
				border-radius: 50%;
				margin-right: 15px;

				&:hover {
					border-color: @accent-color;
				}
			}
			
		}
	}
}


@media (max-width: 992px) {
	
	.product-block-title {
		font-size: 18px !important;
	}

	.popup {
		//	width: 100px;
	}
	.specific-drop{
		position: relative;
		left: auto;
		margin: 40px auto;
	}

}

@media (max-width: 520px) {
	.popup {
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 80%;

		&.open {
			display: block;
		}
	}
}

@media (max-width: 390px) {
	.specific-drop {
		width: 250px;
		margin-right: auto;;
		margin-left: auto;
	}
}