.product-line {
	-webkit-box-shadow: 0 0 2px 3px #e8e8e8;
	box-shadow: 0 2px 14px 2px #e8e8e8;
}

.product-trigger {
	text-align: center;
	font-size: 20px;
	display: none;
}


.product-item {
	text-transform: uppercase;
	float: left;
	width: 14.2%;
	// padding: 30px 0;
	text-align: center;
	border-bottom: 2px solid transparent;
	white-space: nowrap;
	
	
	&:hover,
	&:active,
	&:focus {
		border-bottom: 2px solid @accent-color;
	}

	a {
		display: block;
		width: 100%;
		height: 100%;
		text-decoration: none;
	}
}

@media (max-width: 992px) {
	.product-line {
		.product-item {
			width: 100%;
			padding: 10px 0;
		}
	}

	.product-trigger {
		display: block !important;
		cursor: pointer;
	}

	.product-holder {
		display: none;
		position: absolute;
		left: 0;
		background: #fff;
		width: 100%;
		z-index: 99;
	}

	.product-holder-open {
		display: block;
	}
}
