.no-broder-top {
	border-top: 0 !important;
}

.text-descrip-block {
	padding: 40px 0;
	margin-top: 60px;
	border-top: 1px solid #000;
	position: relative;
}
.text-descrip-title {
	width: 250px;

	font-family: "Spectral Light";
	font-size: 28px;
	line-height: 1.29em;
	position: absolute;
	top: 0;
	left: 50%;
	height: 36px;
	background: #fff;
	text-align: center;
	margin-left: -125px;
	margin-top: -18px;
}
.column {
	
	text-align: justify;

	p {
		margin-bottom: 20px;
	}
}