.top-line {
	font-family: "Montserrat Medium", sans-serif;
	font-size: 12px;
	line-height: 2.08em;
	border-bottom: 1px solid #d1d1d1;

	a {
		text-decoration: none;
		color: @text-color-dark;

		&:hover {
			color: @accent-color;
		}
	}
	
	
	.burger {
		display: none;
		font-size: 20px;
		cursor: pointer;
		z-index: 999;
		&:hover,
		&:active,
		&:focus {
			color: #8C8C8C;
		}

	}

	.burg-left {
		float: left;
		margin-left: 20px;
	}

	.burg-right {
		float: right;
		margin-right: 20px;
	}

}

@media (max-width: 992px) {
	.top-line {
		text-align: center;
		padding: 10px 0;
		
		.burger {
			display: block !important;
		}
		
		.top-line-item {
			margin: 10px 0;
		}

		.top-line-wrapper {
			border: 1px solid #737373;
			display: none;
			position: absolute;
			left: 0;
			margin-left: 50px;
			z-index: 10;
			padding: 30px 0;
			background: #fff;
			width: 50%;

			.claims {
				display: none;
			}
		}

	}
}


