@import "../libs/reset.less";
@import "../libs/bootstrap/css/bootstrap.min.css";

@import (inline) "./fonts.css";
@import "../libs/fontawesome/css/font-awesome.min.css";

@import "./media.less";

@import "./vars.less";
@import "./page.less";

@import "./blocks/_star-rating.less";

@import "./blocks/_top-line.less";
@import "./blocks/_header.less";
@import "./blocks/_product-line.less";
@import "./blocks/_hot-news.less";
@import "./blocks/_brands.less";
@import "./blocks/_news-block.less";
@import "./blocks/_popular-goods.less";
@import "./blocks/_categories.less";
@import "./blocks/_text-desc-block.less";
@import "./blocks/_glossary.less";
@import "./blocks/_footer.less";
@import "./blocks/_drop-field.less";

@import "./blocks/_nav-subfooter.less";

@import "./blocks/_category-block.less";
@import "./blocks/_product-block.less";
@import "./blocks/_info-block.less";
@import "./blocks/_contact-block.less";
@import "./blocks/_pay-and-delivery.less";
@import "./blocks/_orderplace.less";



body {
	font-family: "Montserrat Regular";
	font-size: 12px;
	line-height: 2.08;
	color: @text-color-dark;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}