/* --------------------------------------------------------------------------
* Fix Media Queries
* -------------------------------------------------------------------------- */

// @media (min-width: 1450px) {
// 	.container {
// 		width: 1420px;
// 	}
// }
// @media (min-width: 1750px) {
// 	.container {
// 		width: 1720px;
// 	}
// }

// @media (min-width: 1200px) {
// 	.container {
// 		width: 1150px;
// 	}
// }

@media (max-width: 768px) {
	.container {
		width: 100%;
		padding: 0 20px;
	}
}

// @media (min-width: 960px) {
// 	.container {
// 		width: 960px;
// 	}
// }

/* --------------------------------------------------------------------------
* Custom Media Queries
* -------------------------------------------------------------------------- */


// @media (max-width: 992px) {
// 	.top-line {
// 		text-align: center;
// 		padding: 10px 0;
		
// 		.burger {
// 			display: block !important;
// 		}
		
// 		.top-line-item {
// 			margin: 10px 0;
// 		}

// 		.top-line-wrapper {
// 			border: 1px solid #737373;
// 			display: none;
// 			position: absolute;
// 			left: 0;
// 			margin-left: 50px;
// 			z-index: 10;
// 			padding: 30px 0;
// 			background: #fff;
// 			width: 50%;

// 			.claims {
// 				display: none;
// 			}
// 		}

// 	}

// 	// .left-bar-open {
// 	// 	display: block !important;
// 	// }
// }





// @media (max-width: 992px) {
// 	.header {
// 		.logo {
// 			// position: absolute;
// 			top: 0;
// 			margin: 0 auto;
// 			img {
// 				display: block;
// 				margin: 0 auto;
// 				width: 50%;
// 			}
// 		}

// 		.input-search {
// 			width: 90%;
// 			display: block;
// 			margin: 0 auto;
// 			margin-top: 10px;
// 			margin-bottom: 10px;
// 			input {
// 				margin-left: 0 !important;
// 			}
// 			i {
// 				display: none;
// 			}
// 		}

// 	}
// }
// @media (max-width: 960px) {
// 	.header {
// 		.logo {

// 			img {
// 				display: block;
// 				margin: 0 auto;
// 				width: 50%;
// 			}
// 		}



// 		.header-link {
// 			margin-top: 20px;
// 			// position: absolute;
// 		}
// 	}
// }

// @media (max-width: 992px) {
// 	.product-line {
// 		.product-item {
// 			width: 100%;
// 			padding: 10px 0;
// 		}
// 	}

// 	.product-trigger {
// 		display: block !important;
// 		cursor: pointer;
// 	}

// 	.product-holder {
// 		display: none;
// 		position: absolute;
// 		left: 0;
// 		background: #fff;
// 		width: 100%;
// 		z-index: 99;
// 	}

// 	.product-holder-open {
// 		display: block;
// 	}
// }





// @media (max-width: 1200px) {
// 	.hot-news {

// 		.screen-holder {
// 			height: auto;
// 		}


// 		.left-bar {
// 			width: 50%;
// 		}

// 		.right-side {
// 			width: 50%;
// 			margin-left: 0;
// 			height: 100%;
// 			padding: 10px;
// 			position: static;


// 			.hot-news-title {
// 				font-size: 20px;
// 			}
// 			.hot-news-btn-holder {
// 				// width: 100%;
// 				.hot-news-btn {
					
// 				}
// 			}
// 		}
// 	}
// }



// @media (max-width: 960px) {
// 	.hot-news {

// 		.right-side {
// 			.hot-news-btn-holder {
// 				width: 40%;
// 			}
// 		}
		
// 	}

// }

// @media (max-width: 960px) {
// 	.brands {
// 		height: auto;
// 		// overflow: hidden;
// 		display: none;
// 		position: relative;
// 		margin-top: 50px;
// 		padding-top: 50px;
// 		ul {
// 			overflow: hidden;
// 		}
// 		.brands-title {
// 			// position: relative;
// 			z-index: 5;
// 		}
// 	}
// }

// @media (max-width: 770px) {
// 	.popular-goods {
// 		margin-top: 50px;

// 		.item-block {
// 			width: 60%;
// 			margin: 0 auto;
// 		}
// 	}
// }

// @media (max-width: 990px) {
// 	.news-block {
// 		height: auto !important;
// 		margin-top: 50px;

// 		.top-right {
// 			// margin-top: 30px;
// 		}

// 		.h30-per, .h60-per {
// 			height: 300px;
// 		}

// 		.btn-holder {
// 			width: 30%;
// 			position: relative;
// 			a {
// 				padding-left: 0px;
// 				padding-right: 0px;

// 			}
// 		}

// 		.news-img-holder {
// 			padding: 10px;

// 			.img-titling {
// 				text-align: center;
// 				margin-bottom: 20px;
// 				width: 100% !important;
// 			}

// 			.arrow-btn {
// 				margin-top: 20px;
// 				i {
// 					font-size: 40px;
// 					text-align: center;
// 				}
				
// 			}

// 			.btn-holder {
// 				margin: 0 auto;
// 			}
// 		}
// 	}
// }

// @media (max-width: 770px) {
// 	.news-block {
// 		.top-right {
// 			margin-top: 30px;
// 		}
// 	}

// }


// @media (max-width: 990px) {
// 	.glossary {
// 		width: 100%;
// 		.glossary-title {
// 			position: relative;
// 			font-size: 18px;
// 			width: 100%;
// 			text-align: center;
// 			left: 0;
// 			margin: 0;

// 		}

		
// 	}

// 	.glossary li {
// 		font-size: 12px !important;
// 		width: 6.6% !important;
// 	}


// }
// @media (max-width: 960px) {
	
// }


// @media (max-width: 992px) {

// 	.filters-line {
// 		//text-align: center;
// 	}
	
// 	.filter-list-drop-btn {
// 		display: block !important;
// 		cursor: pointer;
// 		float: none !important;
		
// 		text-align: center;

// 		// width: 50%;
// 		// float: right;
// 		// border-left: 1px solid #000;

// 	}

// 	.filter-list-open {
// 		display: block !important;
// 	}

// 	.filter-list {
// 		display: none;
// 		position: absolute;
// 		width: 100%;
// 		background: #fff;
// 		z-index: 10;
// 		border-bottom: 1px solid #ccc;
// 		box-shadow: 0px 3px 20px 0px #979494;
// 	}

// 	.filter {
// 		width: 100%;
// 		margin: 10px 0;

// 		&__title {
// 			text-align: center;
// 			border-bottom: 1px solid #ccc;
// 		}

// 		&__drop-block {
// 			margin-top: 10px;
// 			left: 0;
// 			// width: 100% !important;
// 			margin-left: auto;
// 			margin-right: auto;
// 			position: relative !important;
// 		}
// 	}
// }


// @media (max-width: 992px) {
	
// 	.product-block-title {
// 		font-size: 18px !important;
// 	}

// 	.popup {
// 		width: 100px;
// 	}
// 	.specific-drop{
// 		left: 0 !important;
// 	}

// }


/* --------------------------------------------------------------------------
* Contacts
* -------------------------------------------------------------------------- */


// @media (max-width: 992px) {
// 	.contact-block-content {
// 		margin-top: 15px;
// 	}

	

// 	.contact-info {
// 		text-align: center;
		
// 		.contact-info-block {
// 			margin-top: 30px;
// 		}

// 		.contact-subtitle {
// 			margin-left: 0 !important;
// 		}

// 		.contact-subtitle {
// 			margin-left: 0 !important;
// 		}

// 		.contact-info {
// 			margin-left: 0 !important;
// 		}

// 		.social-links {
// 			display: -webkit-flex;
// 			display: -moz-flex;
// 			display: -ms-flex;
// 			display: -o-flex;
// 			display: flex;
// 			justify-content: center;

// 			a {
// 				&:last-child {
// 					margin-right: 0;
// 				}
// 			}
// 		}
// 	}

// 	.question-form {
// 		margin-top: 50px;
// 	}
// }