body {
	font-family: "Montserrat Regular";
	font-size: 14px;
	font-weight: 300;
	color: #262626;
	background-color: #fff;
}

.h100-per {
	height: 100%;
}


.h60-per {
	height: 60%;
}

.h30-per {
	height: 30%;
}

a {
	text-decoration: none;
	color: @text-color-dark;

	&:hover {
		color: @accent-color;
	}
}


.b {
	border: 1px solid black;
}

.r {
	border: 1px solid red;
}



.x-open {
	display: block !important;
}



.accent-btn {
	background-color: @accent-color;
	color: #fff;
	text-align: center;
	font-family: "Montserrat Light", sans-serif;
	font-size: 16px;
	line-height: 2.5em;
	border: 0;
	border-radius: 5px;
	&:hover {
		background-color: #D93150;
		color: #fff;
	}
}

.form-input {
	font-family: "Montserrat Light", sans-serif;
	font-size: 14px;
	line-height: 1.71em;
	border: 1px solid #e8e8e8;
	padding: 10px;
	outline: none;

}